Checks: '
        -*,
        -fuchsia-*,
        -google-*,
        -zircon-*,
        -abseil-*,
        -modernize-use-trailing-return-type,
        -llvm-*,-llvmlibc-callee-namespace,
        -cppcoreguidelines-avoid-non-const-global-variables,
        -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
        -cppcoreguidelines-pro-type-vararg,
        -hicpp-vararg
        '